table.code_animator {
  border-collapse: collapse;
  white-space: pre;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 20px;
  line-height: 24px;
  padding: 5px 10px;
  
  letter-spacing: -1px;

  margin-top: 40px;
  margin-bottom: 40px;
  
  background: rgb(240, 240, 240);
  border: 1px solid rgb(224, 224, 224);
}

table.code_animator tr td {
 border: 0px;  
}

table.code {
  white-space: pre;  
}

td.code_animator_active {
 background-color: yellow;  
}

input.code_animator_button {
  font-weight: bold;
  padding: 8px;
  margin: 8px;
  width: 100px;
  font-size: .7em;
}
