/*Smartphones (portrait and landscape) ----------- */
/*@media only screen
and (min-width : 320px)
and (max-width : 480px) {

}*/
/* Smartphones (portrait) ----------- */
@media only screen and (orientation: landscape){
  /* Styles */
  slides > slide {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
  
  input.code_animator_button {
  font-weight: bold;
  padding: 8px;
  margin: 8px;
  width: 100px;
  height: 60px;

  }
}
